<mat-toolbar fxLayoutGap="12px">
  <div
    fxFlex
    fxLayoutAlign="start center"
    fxLayoutGap="12px"
    class="title-wrapper"
  >
    <a [routerLink]="['/']" fxLayoutAlign="center center" class="logo">
      <app-logo></app-logo>
    </a>

    <span
      class="username"
      [matTooltip]="
        (!username ? 'app.title' : 'app.titleWithPage')
          | translate: { page: username }
      "
      [matTooltipShowDelay]="1000"
    >
      {{
        (!username ? "app.title" : "app.titleWithPage")
          | translate: { page: username }
      }}
    </span>

    <span fxFlex></span>

    <div>
      <a
        mat-raised-button
        color="accent"
        [routerLink]="'/'"
        gaClick="profile_getStarted"
      >
        {{ "app.getStarted" | translate }}
      </a>
    </div>
  </div>
</mat-toolbar>
