.wrapper {
  border-radius: 4px;
  padding: 10px;
}

.wishes-counter {
  border-radius: 50px;
  display: block;
  padding: 0 5px;
  min-width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  box-sizing: border-box;
}
