.wrapper {
  margin-top: 64px;
  padding: 0 20px;
}

.content-wrapper {
  overflow: hidden;
}

.title {
  margin-bottom: 24px;
}

.subtitle {
  margin-bottom: 72px;
}

.advice {
  text-align: center;
}

.actions {
  margin-bottom: 16px;
}

.mat-button-base {
  min-width: calc(50% - 20px);
}

img {
  width: 100%;
}
