<div
  class="wrapper mat-elevation-z4"
  fxFlex="1 1 auto"
  fxLayout="row"
  fxLayoutAlign="start center"
  fxLayoutGap="10px"
  [class.star-5]="wish && wish.item?.rankType === 5"
  [class.star-4]="wish && wish.item?.rankType === 4"
>
  <ng-container *ngIf="wish; else emptyCard">
    <ng-container *ngIf="wish.item; else itemNotFoundCard">
      <p class="list-index">{{ wish.index }}</p>

      <app-item-img [item]="wish.item"></app-item-img>

      <div
        class="infos"
        fxFlex="1 1 auto"
        fxLayout="row"
        fxLayoutGap="10px"
        fxLayoutAlign="start center"
        fxLayout.lt-sm="column"
        fxLayoutGap.lt-sm="6px"
        fxLayoutAlign.lt-sm
      >
        <h3 [matTooltip]="wish.item | itemName" [matTooltipShowDelay]="1000">
          {{ wish.item | itemName }}
        </h3>

        <span fxFlex fxHide.lt-sm fxShow.gt-xs></span>

        <div
          fxFlexOrder="1"
          fxFlexOrder.lt-sm="2"
          fxLayout="row"
          *ngIf="(wish.item?.rankType || 3) > 3"
        >
          <app-focus-chip
            *ngIf="wish.banner?.items?.length"
            [wish]="wish"
          ></app-focus-chip>
        </div>

        <div
          fxFlexOrder="2"
          fxFlexOrder.lt-sm="1"
          fxLayout="row"
          *ngIf="wish.item?.rankType != 3"
        >
          <app-pity-chip [wish]="wish"></app-pity-chip>
        </div>

        <p
          fxFlexOrder="3"
          [class]="'stars color-star-' + wish.item.rankType"
          ngStyle.lt-sm="text-align: left"
        >
          <span *ngFor="let one of getRankLoop(wish.item.rankType || 0)"
            >★</span
          >
        </p>

        <span fxFlex="21px" fxHide.lt-sm fxShow.gt-xs></span>
      </div>

      <p
        class="date"
        [matTooltip]="(wish.time | gwDate: 'shortTime') || ''"
        [matTooltipShowDelay]="1000"
      >
        {{ wish.time | gwDate: "shortTime" }}
      </p>
    </ng-container>
  </ng-container>
</div>

<ng-template #emptyCard>
  <div fxFlex fxLayoutAlign="center">
    <mat-progress-spinner
      diameter="40"
      mode="indeterminate"
      color="accent"
    ></mat-progress-spinner>
  </div>
</ng-template>

<ng-template #itemNotFoundCard>
  <div fxFlex fxLayoutAlign="center">
    {{ "wishes.itemNotFound" | translate }}
  </div>
</ng-template>
