<div fxLayout="column">
  <div fxLayout="column" fxFlex fxLayoutGap="80px">
    <app-landing-hero class="content-row"></app-landing-hero>

    <app-landing-counters
      class="content-row wide-screen-center"
    ></app-landing-counters>

    <app-landing-feature-tour
      class="wide-screen-center"
    ></app-landing-feature-tour>

    <app-landing-security></app-landing-security>

    <app-landing-comments
      class="content-row wide-screen-center"
    ></app-landing-comments>
  </div>

  <app-landing-footer-banner></app-landing-footer-banner>
</div>
