<div fxLayout="column">
  <mat-toolbar color="accent" class="end-warning">
    <span
      >Genshin Wishes is definitely closed, more information
      <a href="https://tiny.one/ythjv5sm" target="_blank"
        >here <fa-icon icon="external-link-alt"></fa-icon></a
      >. The website will stay up for some time, but you may no longer create an
      account or import wishes.</span
    >
  </mat-toolbar>

  <div fxLayout="column" fxFlex fxLayoutGap="80px">
    <app-landing-hero class="content-row"></app-landing-hero>

    <app-landing-counters
      class="content-row wide-screen-center"
    ></app-landing-counters>

    <app-landing-feature-tour
      class="wide-screen-center"
    ></app-landing-feature-tour>

    <app-landing-security></app-landing-security>

    <app-landing-comments
      class="content-row wide-screen-center"
    ></app-landing-comments>
  </div>

  <app-landing-footer-banner></app-landing-footer-banner>
</div>
