<h2 mat-dialog-title>
  {{ "settings.deleteAccountConfirm.title" | translate }}
</h2>

<mat-dialog-content class="mat-typography">
  <p [innerHTML]="'settings.deleteAccountConfirm.message' | translate"></p>
</mat-dialog-content>

<mat-dialog-actions
  align="center"
  fxLayout="column"
  fxLayout.gt-sm="row-reverse"
  fxLayoutGap="16px"
>
  <button
    mat-stroked-button
    color="warn"
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    {{ "settings.deleteAccount.title" | translate }}
  </button>

  <button mat-button mat-dialog-close>
    {{ "generics.cancel" | translate }}
  </button>
</mat-dialog-actions>
