<mat-nav-list fxLayout="column" fxFlex (click)="nav.next()">
  <a
    mat-list-item
    [routerLink]="['/banners']"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="active"
    gaClick="nav_banners"
  >
    <fa-icon matListIcon icon="th"></fa-icon>
    <h3 mat-line>{{ "banners.label" | translate }}</h3>
  </a>

  <a
    mat-list-item
    [routerLink]="['/banners', 'all']"
    routerLinkActive="active"
    gaClick="nav_banners_all"
  >
    <app-star-icon matListIcon></app-star-icon>
    <h3 mat-line>{{ "wishes.banners$.ALL.title" | translate }}</h3>
  </a>

  <a
    mat-list-item
    [routerLink]="['/stats']"
    routerLinkActive="active"
    gaClick="nav_stats"
    #stats
  >
    <fa-icon matListIcon icon="chart-bar"></fa-icon>
    <h3 mat-line fxLayout="row" fxLayoutGap="14px">
      <span>{{ "stats.label" | translate }}</span>
      <mat-chip-list fxLayout="row">
        <mat-chip
          (click)="$event.preventDefault()"
          color="accent"
          [selected]="true"
          [disableRipple]="true"
        >
          {{ "generics.beta" | translate }}
        </mat-chip>
      </mat-chip-list>
    </h3>
  </a>

  <a
    mat-list-item
    [routerLink]="['/faq']"
    routerLinkActive="active"
    gaClick="nav_faq"
  >
    <fa-icon matListIcon icon="comments"></fa-icon>
    <h3 mat-line>{{ "faq.title" | translate }}</h3>
  </a>

  <a
    mat-list-item
    [routerLink]="['/settings']"
    routerLinkActive="active"
    gaClick="nav_settings"
  >
    <fa-icon matListIcon icon="cog"></fa-icon>
    <h3 mat-line>{{ "settings.label" | translate }}</h3>
  </a>

  <mat-divider></mat-divider>

  <div mat-subheader>{{ "nav.helpUs.label" | translate }}</div>

  <a
    mat-list-item
    [href]="typeformUrl"
    target="_blank"
    rel="noopener"
    gaClick="nav_request"
    [matTooltip]="'nav.request.label' | translate"
  >
    <fa-icon matListIcon icon="flag"></fa-icon>
    <h3 mat-line>{{ "nav.request.label" | translate }}</h3>
  </a>

  <a
    mat-list-item
    [href]="discordUrl"
    target="_blank"
    rel="noopener"
    gaClick="nav_discord"
    [matTooltip]="'nav.discord.label' | translate"
  >
    <fa-icon matListIcon [icon]="['fab', 'discord']"></fa-icon>
    <h3 mat-line>{{ "nav.discord.label" | translate }}</h3>
  </a>

  <a
    mat-list-item
    [href]="coffeeUrl"
    target="_blank"
    rel="noopener"
    gaClick="nav_coffee"
    [matTooltip]="'nav.coffee.label' | translate"
  >
    <fa-icon matListIcon icon="heart"></fa-icon>
    <h3 mat-line>{{ "nav.coffee.label" | translate }}</h3>
  </a>

  <a
    mat-list-item
    [href]="i18nUrl"
    target="_blank"
    rel="noopener"
    gaClick="nav_i18n"
    class="text-accent"
    [matTooltip]="'nav.i18n.label' | translate"
  >
    <fa-icon matListIcon icon="language"></fa-icon>
    <h3 mat-line>{{ "nav.i18n.label" | translate }}</h3>
  </a>

  <span fxFlex></span>

  <a
    mat-list-item
    [routerLink]="['/logout']"
    routerLinkActive="active"
    gaClick="nav_logout"
  >
    <fa-icon matListIcon icon="power-off"></fa-icon>
    <h3 mat-line>{{ "auth.logout.label" | translate }}</h3>
  </a>
</mat-nav-list>
