<div class="wrapper" fxLayout="column">
  <div class="error-container">
    <span
      [class.text-warn]="feedback !== positiveFeedback"
      [class.text-success]="feedback === positiveFeedback"
    >
      {{ feedback | translate }}
    </span>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>
      {{ "app.urlInput.pasteInput" | translate }}
    </mat-label>
    <input
      matInput
      autocomplete="off"
      placeholder="https://webstatic-sea.mihoyo.com/ys/event/im-service/index.html?im_out=true&sign_type=2..."
      [(ngModel)]="urlData.authUrl"
      (ngModelChange)="
        assertUrl(urlData.authUrl);
        urlDataChange.next({
          authUrl: $event,
          persist: urlData.persist,
          valid: feedback === positiveFeedback
        })
      "
      name="url-input"
    />
  </mat-form-field>

  <mat-radio-group
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutGap="16px"
    [value]="urlData.persist"
    (change)="
      urlData.persist = $event.value;
      urlDataChange.next({
        authUrl: urlData.authUrl,
        persist: $event.value,
        valid: feedback === positiveFeedback
      })
    "
  >
    <mat-radio-button
      color="primary"
      [gaClick]="'save_link_true'"
      [value]="true"
    >
      {{ "app.persistLink.persist" | translate }}
    </mat-radio-button>

    <mat-radio-button
      color="primary"
      [gaClick]="'save_link_false'"
      [value]="false"
    >
      {{ "app.persistLink.doNotPersist" | translate }}
    </mat-radio-button>
  </mat-radio-group>
</div>
