<div fxLayout="column" fxFlexFill>
  <div class="freetext-banner">
    <div class="filter-category">
      {{ "wishes.filters.freeText" | translate }}
    </div>

    <div>
      <mat-form-field appearance="outline" fxFlex>
        <mat-label> {{ "wishes.filters.freeText" | translate }}</mat-label>
        <input
          matInput
          [cdkTrapFocus]="false"
          [cdkTrapFocusAutoCapture]="true"
          [(ngModel)]="filters.freeText"
          (ngModelChange)="freeTextChanges.next()"
          (keydown.escape)="filters.freeText = ''; changes.next()"
          (blur)="filters.freeText = filters.freeText?.trim()"
          name="free-text-filter"
          autocomplete="off"
        />

        <button
          matSuffix
          mat-icon-button
          *ngIf="!!filters.freeText"
          (click)="filters.freeText = ''; changes.next()"
        >
          <fa-icon icon="times-circle"></fa-icon>
        </button>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="column" fxLayoutGap="30px">
    <div
      *ngIf="banner === BannerType.CHARACTER_EVENT || banner === BannerType.ALL"
    >
      <div class="filter-category">
        {{ "wishes.filters.characterEvent" | translate }}
      </div>

      <div>
        <app-banner-select
          class="banner-select"
          [multiple]="true"
          [banners]="(characterEvents$ | async) || []"
          [(selectedBanners)]="filters.characterEvents"
          (selectedBannersChange)="changes.next()"
        ></app-banner-select>
      </div>
    </div>

    <div
      *ngIf="banner === BannerType.WEAPON_EVENT || banner === BannerType.ALL"
    >
      <div class="filter-category">
        {{ "wishes.filters.weaponEvent" | translate }}
      </div>

      <div>
        <app-banner-select
          class="banner-select"
          [multiple]="true"
          [banners]="(weaponEvents$ | async) || []"
          [(selectedBanners)]="filters.weaponEvents"
          (selectedBannersChange)="changes.next()"
        ></app-banner-select>
      </div>
    </div>

    <div>
      <div class="filter-category">
        {{ "wishes.filters.itemType" | translate }}
      </div>

      <mat-chip-list (change)="filters.itemType = $event.value; changes.next()">
        <mat-chip
          *ngFor="let type of itemTypes"
          color="primary"
          [selected]="filters.itemType === type"
          [value]="type"
          (click)="
            filters.itemType === type
              ? (filters.itemType = undefined)
              : (filters.itemType = type);
            changes.next()
          "
        >
          <ng-container *ngIf="filters.itemType === type">
            <fa-icon icon="times"></fa-icon>
            &nbsp;
          </ng-container>
          {{ "wishes.itemType$." + type | translate }}
        </mat-chip>
      </mat-chip-list>
    </div>

    <div>
      <div class="filter-category">
        {{ "wishes.filters.rank" | translate }}
      </div>

      <mat-chip-list
        (change)="filters.ranks = $event.value; changes.next()"
        fxLayoutGap="10px"
        [multiple]="true"
      >
        <mat-chip
          *ngFor="let rank of ranks"
          color="primary"
          [selected]="filters.ranks.includes(rank.length)"
          [value]="rank.length"
          (click)="
            filters.ranks.includes(rank.length)
              ? filters.ranks.splice(filters.ranks.indexOf(rank.length), 1)
              : filters.ranks.push(rank.length);
            changes.next()
          "
        >
          <ng-container *ngIf="filters.ranks.includes(rank.length)">
            <fa-icon icon="times"></fa-icon>
            &nbsp;
          </ng-container>
          <ng-container *ngFor="let _ of rank">★</ng-container>
        </mat-chip>
      </mat-chip-list>
    </div>

    <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="24px">
      <button
        mat-raised-button
        color="accent"
        [disabled]="filters.isEmpty()"
        (click)="filters.reset(); changes.next()"
      >
        <fa-icon icon="times"></fa-icon>
        &nbsp;
        {{ "wishes.filters.reset" | translate }}
      </button>

      <button
        *ngIf="!!data"
        mat-stroked-button
        [cdkTrapFocus]="false"
        [cdkTrapFocusAutoCapture]="true"
        mat-dialog-close
      >
        {{ "generics.close" | translate }}
      </button>
    </div>
  </div>
</div>
