.filter-category {
  margin-bottom: 10px;
}

.event-option {
  height: 42px;
  line-height: 42px;
}

mat-form-field {
  margin: 0;
  padding: 0;
}

.banner-select {
  margin-bottom: -1.69375em;
  margin-top: -0.25em;
}

.input-wrapper {
  border: 1px solid;
  border-radius: 4px;
  padding-left: 15px;
  height: 42px;
}

input {
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
}
