<div class="wrapper">
  <div
    fxLayout="row wrap"
    fxLayoutGap.lt-sm="13px"
    fxLayoutAlign.gt-lg="center center"
    fxLayoutAlign="start start"
    fxLayoutGap
    fxFlex="100%"
    fxFlexOffset="0"
    fxFlex.gt-md="0 1 calc(11 / 12 * 100%)"
    fxFlexOffset.gt-md="calc(0.5/12 * 100%)"
    fxFlex.gt-lg="0 1 calc(10 / 12 * 100%)"
    fxFlexOffset.gt-lg="calc(1/12 * 100%)"
    *ngIf="counts$ | async as counts"
  >
    <ng-container
      *ngIf="{ banners: banners$ | async, event: event$ | async } as data"
    >
      <ng-container *ngIf="data.banners && data.event; else loader">
        <app-banner-card
          *ngFor="let banner of data.banners"
          [count]="counts[banner.key]"
          [banner]="banner"
          [event]="data.event"
          fxFlex="100%"
          fxFlex.gt-sm="calc(50% - 20px)"
          fxFlex.gt-md="calc(50% - 20px)"
        ></app-banner-card
      ></ng-container>
    </ng-container>
  </div>

  <ng-template #loader>
    <div fxFill fxLayoutAlign="center center">
      <mat-progress-spinner
        color="primary"
        mode="indeterminate"
        [diameter]="50"
      ></mat-progress-spinner>
    </div>
  </ng-template>
</div>
