.wrapper {
  padding: 20px;
  overflow: hidden;
}

.mat-card-header {
  margin: 0 -16px;
}

.save-url-button {
  width: 255px;
}

.auth-link-subtitle {
  margin: 0;
}

app-locale-select {
  width: 250px;
}
