<app-step
  [stepTitle]="'app.urlSetup.steps$.2.title' | translate"
  [actions]="endActions"
  fxFlex
>
  <div>
    <p
      class="description border-success"
      [innerHTML]="'app.urlSetup.steps$.2.description' | translate"
    ></p>

    <app-wish-import-progress
      [importedWishes]="importedWishes"
      #progress
    ></app-wish-import-progress>
  </div>
</app-step>

<ng-template #endActions>
  <button
    mat-raised-button
    color="accent"
    [routerLink]="['/']"
    gaClick="see_wishes"
    [disabled]="!progress.isSaved(importedWishes)"
  >
    {{ "app.urlSetup.steps$.2.seeWishes" | translate }}
  </button>
</ng-template>
