h2 {
  text-align: center;
  margin-bottom: 32px;
}

app-landing-security-card {
  width: 254px;
  height: 254px;
  margin-right: 20px;
}

.buttons-wrapper {
  margin-top: 64px;

  padding: 0 20px;
}

.mat-button-base {
  min-width: 280px;
}
