mat-toolbar {
  z-index: 10;
}

.wrapper,
.list-wrapper,
.infinite-scroll,
app-wish-empty {
  overflow: hidden;
}

app-wish-list {
  margin: -20px;
}

app-banner-nav {
  position: sticky;
  top: 0;
}

.list-wrapper {
  padding: 20px;
}

.filters-card {
  padding: 30px;
  width: 400px;

  box-sizing: border-box;
}
