<div fxLayout="column" class="wrapper" fxFlex>
  <app-banner-nav (filter)="openFilters()"></app-banner-nav>

  <div fxLayout="row" fxFlex>
    <div
      fxLayout="row"
      fxLayoutGap="60px"
      fxFlex.gt-md="0 0 calc(10/12 * 100%)"
      fxFlexOffset.gt-md="calc(1/12 * 100%)"
      fxFlex.lt-lg
      fxFlexOffset.lt-lg
      class="list-wrapper"
    >
      <ng-container *ngIf="{ count: count$ | async } as count">
        <app-wish-list
          fxFlex="1 1 auto"
          [count]="count.count"
          [showBannerTitle]="(bannerType$ | async) === 'ALL'"
          [wishes$]="wishes$"
          (removeFilters)="filtersComponent.resetFilters()"
          [filtering]="!filters$.value.isEmpty()"
        ></app-wish-list>
      </ng-container>

      <div
        fxLayout="column"
        fxHide.lt-md
        fxShow.gt-sm
        fxFlexAlign="start"
        class="filters-wrapper"
      >
        <mat-card class="filters-card">
          <mat-card-content>
            <app-wish-filters
              #filtersComponent
              [route]="route"
              [banner]="bannerType$ | async"
              [filters]="initialFilters"
            ></app-wish-filters>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
