.chip {
  border: 1px solid;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 0 4px;
  height: 20px;
  line-height: 18px;
  text-align: center;

  text-overflow: ellipsis;
  overflow: hidden;
}
