.wrapper {
  padding: 14px;
  border-radius: 4px;
}

.icon-wrapper {
  min-width: 56px;
  width: 56px;
  min-height: 56px;
  height: 56px;
  border-radius: 6px;
}

.icon {
  transform: scale(1.75);
}
