<div class="wrapper" fxLayout="row" fxLayoutGap="14px">
  <div class="icon-wrapper" fxLayoutAlign="center center">
    <fa-icon *ngIf="icon; else star" class="icon" [icon]="icon"></fa-icon>

    <ng-template #star>
      <app-star-icon class="icon"></app-star-icon>
    </ng-template>
  </div>

  <div class="text" fxFlexAlign="center" fxFlex>
    {{ text | translate }}
  </div>

  <div *ngIf="beta" fxLayout="column" fxLayoutAlign="center center">
    <mat-chip-list fxLayout="row">
      <mat-chip
        (click)="$event.preventDefault()"
        color="accent"
        [selected]="true"
        [disableRipple]="true"
      >
        {{ "generics.beta" | translate }}
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
