mat-card {
  padding: 20px;
}

mat-card-header {
  margin: 0 -16px;
}

mat-card-content {
  margin-bottom: 21px;
}

mat-card-footer {
  width: calc(100% - 32px);
  margin-left: 16px;
}

mat-card-actions {
  margin-left: -16px;
  margin-right: -16px;
  padding: 16px 0;

  margin-bottom: 30px;

  .mat-stroked-button:not(:first-child) {
    margin: 0 15px;
  }
}
