<div class="wrapper" fxLayout="column" fxLayout.gt-sm="row">
  <div class="main-card mat-elevation-z4" fxFlex>
    <div class="main-card-under" fxLayoutAlign="start center">
      <div fxLayout="column">
        <span class="title">{{ "stats.wishesTotalCount" | translate }}</span>

        <span class="banner-title">
          {{ "wishes.banners$." + banner + ".title" | translate }}
        </span>
      </div>

      <span fxFlex></span>

      <span class="banner-count">
        {{ stats.count }}
      </span>
    </div>
  </div>

  <div
    *ngIf="events?.length"
    class="sub-card mat-elevation-z2"
    fxFlex
    fxLayout="column"
    [ngStyle]="{ 'margin-top': '-4px', 'padding-top': '12px' }"
    [ngStyle.gt-sm]="{ 'margin-left': '-4px', 'padding-left': '12px' }"
  >
    <div class="filter-title">
      {{ "stats.filters.filterByEvent" | translate }}
    </div>

    <app-banner-select
      [banners]="events"
      [(selectedBanners)]="filters.characterEvents"
      (selectedBannersChange)="bannerFilter.next(filters)"
    ></app-banner-select>
  </div>
</div>
