.wishes-wrapper {
  margin: 20px;
}

cdk-virtual-scroll-viewport {
  &::-webkit-scrollbar-track {
    margin: 20px 0;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #000000;
  }
}
