<mat-sidenav-container fxFlexFill>
  <mat-sidenav-content fxFlexFill fxLayout="column">
    <ng-container *ngIf="{ username: username$ | async } as data">
      <app-profile-banner [username]="data.username"></app-profile-banner>

      <div fxLayout="column" fxFlex>
        <ng-container
          *ngIf="
            data.username == undefined || data.username;
            else profileNotFound
          "
        >
          <router-outlet></router-outlet>
        </ng-container>
      </div>

      <app-profile-footer
        *ngIf="data.username == undefined || data.username"
      ></app-profile-footer>
    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #profileNotFound>
  <div class="empty-wrapper" fxLayoutAlign="center">
    <app-empty-state
      [header]="'profile.notFound.title' | translate"
      [description]="'profile.notFound.description' | translate"
      [hideWarning]="true"
      [buttonLink]="'/'"
      [buttonLabel]="'profile.notFound.goToApp' | translate"
    ></app-empty-state>
  </div>
</ng-template>
