app-logo {
  width: 64px;
  height: 64px;
}

mat-card {
  padding: 30px 25px;
}

.title {
  margin: 0 32px;
  text-align: center;
}

.hint {
  text-align: center;
}

app-footer {
  margin: 16px -16px -16px -16px;
}

mat-progress-spinner {
  margin-top: 30px;
}

.auth-button {
  width: 150px;
}
