<ng-container *ngIf="itemSize$ | async as itemSize">
  <cdk-virtual-scroll-viewport
    *ngIf="count || count === 0; else loadingState"
    fxFlex="1 1 auto"
    [itemSize]="itemSize"
  >
    <div fxLayout="column" fxLayoutGap="8px" class="wishes-wrapper">
      <ng-container *ngIf="count > 0; else emptyState">
        <ng-container *ngIf="wishes$ | async as wishes">
          <ng-container *cdkVirtualFor="let wish of wishes; let index = index">
            <div
              class="header"
              *ngLet="
                wish &&
                (index === 0 ||
                  (wishes._cachedData[index - 1] &&
                    (wish.time | gwDate: 'dd/MM/yyyy':'UTC') !==
                      (wishes._cachedData[index - 1].time
                        | gwDate: 'dd/MM/yyyy':'UTC'))) as differentDate
              "
            >
              <h2 class="date-title" *ngIf="differentDate">
                {{ wish.time | gwDate: "fullDate":"UTC" }}
              </h2>

              <h3
                class="banner-title"
                *ngIf="
                  showBannerTitle &&
                  wish &&
                  (differentDate ||
                    index === 0 ||
                    (wishes._cachedData[index - 1] &&
                      wish.gachaType !==
                        wishes._cachedData[index - 1].gachaType))
                "
              >
                {{
                  "wishes.banners$." + IdToBanner[wish.gachaType] + ".title"
                    | translate
                }}
              </h3>

              <app-wish-card
                [wish]="wish"
                [ngStyle]="{ height: itemSize - 8 + 'px' }"
              ></app-wish-card>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </cdk-virtual-scroll-viewport>

  <ng-template #loadingState>
    <div fxFlex="1 1 auto" fxLayoutAlign="center center">
      <mat-progress-spinner
        color="primary"
        mode="indeterminate"
        [diameter]="50"
      ></mat-progress-spinner>
    </div>
  </ng-template>

  <ng-template #emptyState>
    <div fxFlex="1 1 auto" fxLayoutAlign="center">
      <app-empty-state
        *ngIf="!filtering; else noResultState"
        [header]="'wishes.noWishes.title' | translate"
        [description]="'wishes.noWishes.message' | translate"
        [buttonLink]="['/banners']"
        buttonIcon="th"
        [buttonLabel]="'wishes.backToList' | translate"
        fxFlexFill
      ></app-empty-state>

      <ng-template #noResultState>
        <app-wish-no-result
          fxFlexFill
          (removeFilters)="removeFilters.emit()"
        ></app-wish-no-result>
      </ng-template>
    </div>
  </ng-template>
</ng-container>
