.wishes-wrapper {
  margin: 20px;
}

.date-title {
  text-transform: capitalize;
  margin-top: 30px;
  margin-bottom: 0;

  &:first-child {
    margin-top: 15px;
  }
}

.banner-title {
  margin-top: 10px;
}
