.wrapper {
  padding: 20px;
}

app-step1,
app-step2,
app-step3,
app-end {
  max-width: 600px;
}

mat-form-field {
  margin-top: 14px;
  margin-bottom: -1.34375em;
}

mat-progress-spinner {
  margin-top: 30px;
}
