@import "~normalize.css";
@import "~ngx-toastr/toastr.css";
@import "~flag-icon-css/css/flag-icon.min.css";
@import "~flickity/dist/flickity.min.css";
@import "theming";

/* You can add global styles to this file, and also import other style files */

// Fix so the main content as it's correct width from start
// Some components resize badly otherwise
.mat-drawer-transition .mat-drawer-content {
  transition-duration: 0s !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #57525c;
}

.wide-screen-center {
  max-width: 1980px;
  margin-left: auto !important;
  margin-right: auto !important;
}

markdown {
  h1:first-child {
    margin-top: 0 !important;
  }

  h1 {
    margin-top: 50px !important;
  }

  img {
    max-width: 100%;
  }

  code {
    white-space: pre-wrap;
  }
}

.toast-container {
  top: 76px;
}

[hidden] {
  display: none;
}

app-root {
  .mat-list-base .mat-list-item .mat-list-icon,
  .mat-list-base .mat-list-option .mat-list-icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
  }

  // Fix x overflow in cdk virtual scroll
  .cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper {
    width: 100%;
  }
}

.no-radius-dialog .mat-dialog-container {
  border-radius: 0;
}

router-outlet + * {
  flex: 1 0 auto;
}
