<mat-card fxLayoutAlign="center center">
  <mat-card-content
    fxLayout.lg="column"
    fxLayout.lt-md="column"
    fxLayout.lt-lg="row"
    fxLayout.gt-lg="row"
    [ngStyle.lt-lg]="{ 'min-height': '368px' }"
    [ngStyle.gt-lg]="{ 'min-height': '368px' }"
    fxLayoutAlign="center center"
    fxLayoutGap="32px"
  >
    <img
      ngStyle.lg
      ngStyle.lt-md
      [ngStyle.lt-lg]="{ width: '220px', height: '220px' }"
      [ngStyle.gt-lg]="{ width: '220px', height: '220px' }"
      src="../../../assets/status/sad.svg"
    />

    <div
      fxLayout="row"
      fxLayoutAlign.lt-md="center center"
      fxLayoutAlign.lg="center center"
    >
      <div
        fxLayout="column"
        fxLayoutGap="16px"
        [ngStyle.lt-md]="{ 'text-align': 'center' }"
        [ngStyle.lg]="{ 'text-align': 'center' }"
      >
        <div>
          <h3
            class="text-primary"
            [ngStyle.gt-xs]="{ 'font-size': '34px', 'line-height': '36px' }"
          >
            {{ header }}
          </h3>

          <p [innerHTML]="description"></p>
        </div>

        <p
          class="alert-success"
          [innerHTML]="'generics.archiveWarning' | translate"
        ></p>

        <div fxLayout="row" *ngIf="buttonLink">
          <a
            mat-stroked-button
            color="accent"
            [routerLink]="buttonLink"
            gaClick="wishes_empty_back"
          >
            <ng-container *ngIf="buttonIcon">
              <fa-icon [icon]="buttonIcon"></fa-icon>
              &nbsp;
            </ng-container>
            {{ buttonLabel }}
          </a>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
