<app-step
  [stepTitle]="'app.urlSetup.step' | translate: { step: 1 }"
  [stepSubtitle]="'app.urlSetup.steps$.1.title' | translate"
  [actions]="step1Actions"
  fxFlex
>
  <div fxLayout="column" fxLayoutGap="8px">
    <p [innerHTML]="'app.urlSetup.steps$.1.description' | translate"></p>

    <mat-accordion>
      <mat-expansion-panel
        *ngFor="let device of devices"
        [expanded]="device.expanded"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ device.title }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <markdown
          *ngIf="device.mdFile$ | async as mdFile"
          [src]="mdFile"
        ></markdown>

        <div *ngIf="device.videoUrl">
          <a
            mat-button
            color="primary"
            [href]="device.videoUrl"
            target="_blank"
            rel="noopener"
            gaClick="see_video"
          >
            {{ "app.urlSetup.steps$.1.showVideo" | translate }}
          </a>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <app-url-input
      [(urlData)]="mihoyoUrl"
      [feedback]="feedback"
    ></app-url-input>
  </div>
</app-step>

<ng-template #step1Actions>
  <ng-container *ngTemplateOutlet="actions"></ng-container>

  <button
    [disabled]="!mihoyoUrl?.valid"
    [gaClick]="'setup_finish'"
    (click)="mihoyoUrl && finish.next(mihoyoUrl)"
    mat-raised-button
    class="finish-button"
    color="accent"
  >
    {{ "generics.next" | translate }}
    &nbsp;
    <fa-icon icon="chevron-right"></fa-icon>
  </button>
</ng-template>
