<mat-toolbar color="accent" class="end-warning">
  <span
    >Genshin Wishes is definitely closed, more information
    <a href="https://tiny.one/ythjv5sm" target="_blank"
      >here <fa-icon icon="external-link-alt"></fa-icon></a
    >. The website will stay up for some time, you may
    <a (click)="exportWishes()">export your wishes</a> but no longer create an
    account or import wishes.</span
  >
</mat-toolbar>

<mat-toolbar fxLayout="row" fxLayoutGap="12px" class="mat-elevation-z4">
  <button
    mat-icon-button
    (click)="toggle()"
    *ngIf="sidenavToggle"
    class="hamburger-menu new-badge"
  >
    <fa-icon icon="bars"></fa-icon>
  </button>

  <a *ngIf="!sidenavToggle" [routerLink]="['/']" class="logo">
    <app-logo></app-logo>
  </a>

  <ng-container
    *ngIf="
      (title$ | async) ||
      ('app.titleWithPage'
        | translate: { page: ('app.description' | translate) }) as title
    "
  >
    <h1 class="title" [matTooltip]="title" [matTooltipShowDelay]="1000">
      {{ title }}
    </h1>
  </ng-container>

  <span fxFlex></span>

  <ng-container *ngIf="withActions && !(noAction$ | async)">
    <ng-container *ngIf="isStats$ | async; else importButton">
      <a
        mat-icon-button
        [matTooltip]="'profile.share.label' | translate"
        color="accent"
        fxShow.lt-sm
        fxHide
        gaClick="profile_share"
        (click)="share()"
      >
        <fa-icon icon="share-alt"></fa-icon>
      </a>

      <a
        mat-stroked-button
        color="accent"
        fxHide.lt-sm
        fxShow
        gaClick="profile_share"
        (click)="share()"
      >
        <fa-icon icon="share-alt"></fa-icon>
        &nbsp;
        {{ "profile.share.label" | translate }}
      </a>
    </ng-container>

    <ng-template #importButton>
      <a
        mat-icon-button
        [matTooltip]="'wishes.update.label' | translate"
        color="accent"
        fxShow.lt-sm
        fxHide
        [disabled]="true"
      >
        <fa-icon icon="sync"></fa-icon>
      </a>

      <a
        mat-stroked-button
        color="accent"
        fxHide.lt-sm
        fxShow
        [disabled]="true"
      >
        <fa-icon icon="sync"></fa-icon>
        &nbsp;
        {{ "wishes.update.label" | translate }}
      </a>
    </ng-template>
  </ng-container>

  <a
    *ngIf="withLogout"
    [routerLink]="['/logout']"
    [matTooltip]="'auth.logout.label' | translate"
    mat-icon-button
    color="primary"
    fxShow.lt-sm
    fxHide
  >
    <fa-icon icon="power-off"></fa-icon>
  </a>

  <a
    *ngIf="withLogout"
    [routerLink]="['/logout']"
    mat-stroked-button
    color="primary"
    gaClick="top_logout"
    fxHide.lt-sm
    fxShow
  >
    <fa-icon icon="power-off"></fa-icon>
    &nbsp;
    {{ "auth.logout.label" | translate }}
  </a>
</mat-toolbar>
