mat-toolbar {
  position: relative;
  z-index: 10;
}

.logo {
  width: 24px;
  height: 24px;
}

.mat-stroked-button.mat-button-disabled {
  width: 136.75px;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.beta-badge {
  position: relative;

  &:before {
    content: " ";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    right: 9px;
  }
}
