mat-toolbar {
  position: relative;
  z-index: 10;
}

.end-warning {
  font-size: 11px;
  white-space: pre-wrap;
  line-height: 11px;
}

a {
  cursor: pointer;
}

.logo {
  width: 24px;
  height: 24px;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.new-badge {
  position: relative;

  &:before {
    content: " ";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    right: 9px;
  }
}
